<div class="head_container">

    <h1><%= link_to "宿泊予約アプリ", :root, class: "logo" %></h1>
    <div>
        <span><%= link_to "ログイン", :new_user_session, class: "head" %></span>
        <span><%= link_to "新規登録", :new_user_registration, class: "head" %></span>
    </div>

</div>